body{
	font-family: 'Montserrat', sans-serif;
}
body section{
	width: 100%;
	margin-top:125px;
}

.parallax{
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	
}



			/*Section-1*/

.section_1{
	margin-top: 0;
	height: 900px;
	background-image: url('../img/bg1.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	overflow-x: hidden;
}

.sectin_1-main{
	width: 830px;
	line-height: 3em;
	margin-top: 530px;
	margin-left: 85px;
}

.sertiz{
	text-transform: uppercase;
	color:  #ffffff;
	font-size: 3em;
	font-weight: 700;
}

.text-2{
	font-family: 'Lato', sans-serif;
	color:  #ffffff;
	font-size: 1.125em;
}

.container{
	width: 830px;
	height: 130px;
	border:1px solid #ffffff;
	background-color:  rgba(0, 0, 0, 0.3);
	text-transform: uppercase;
	font-size: 3.375em;
	font-weight: 700;
	display: grid;
	grid-template-columns: 150px 1fr;
	grid-auto-rows: 130px;
}

.container_block{
	color: #f1ad1d;
	background-color:  #ffffff;
	padding:30px 20px;
}
.container_text{
	padding:30px 20px;
	color: #ffffff;
}



			/*Section-2*/



.container_2{
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	justify-items:center;
	align-items: center;
}

.container_2-text-1{
	text-transform:uppercase;
	color:  #333333;
	font-size: 1.375em;
	font-weight: 700;
	line-height: 2;
}

.container_2-text-2{
	font-family: 'Lato', sans-serif;
	color:  #4d4943;
	font-size: 1.063em;
	line-height: 2;
}


hr{
	border:none;
	background-color:  #f1ad1d;
	width: 60px;
	height: 3px;
}

.parallax-2{
	margin-top: 125px;
	height:380px;
	background-image: url('../img/bg2.jpg');
	display: grid;
	grid-template-rows: repeat(3,1fr);
	justify-items:center;
	align-items: center; 
	text-transform:uppercase;
}
.parallax-2-text{
	color:  #ffffff;
	font-size: 1.375em;
	font-weight: 700;
	grid-row-start:2;
	grid-row-end:2;
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns:400px;
	justify-items:center;
	align-items: center;
	line-height: 3em;
}

.orange{
	color:  #f1ad1d;
}



				/*Section-3*/



.section_3{
	margin-top:125px;
}

.container_3{
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	justify-items:center;
	align-items: center;
}

.container_3-text-1{
	text-transform:uppercase;
	color:  #333333;
	font-size: 1.375em;
	font-weight: 700;
	line-height: 2;
}

.container_3-text-2{
	font-family: 'Lato', sans-serif;
	color:  #4d4943;
	font-size: 1.063em;
	line-height: 2;
}




.parallax-3{
	margin-top: 125px;
	height:475px;
	background-image: url('../img/bg3.jpg');
	display: grid;
	grid-template-rows: repeat(3,1fr);
	justify-items:center;
	align-items: center;
}
.parallax-3-text{
	color:  #ffffff;
	font-size: 1.375em;
	font-weight: 700;
	grid-row-start:2;
	grid-row-end:2;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	justify-items:center;
	align-items: center;
	line-height: 3em;
	text-transform:uppercase;
}

.logos{
	display: grid;
	grid-template-columns: repeat(4,250px);
	justify-items:center;
	align-items: center;
}

			/*	Section-4*/


.section_4{
	margin-top:125px;
}

.container_4{
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	justify-items:center;
	align-items: center;
}

.container_4-text-1{
	text-transform:uppercase;
	color:  #333333;
	font-size: 1.375em;
	font-weight: 700;
	line-height: 2;
}

.container_4-text-2{
	font-family: 'Lato', sans-serif;
	color:  #4d4943;
	font-size: 1.063em;
	line-height: 2;
}




.parallax-4{
	margin-top: 125px;
	height:485px;
	background-image: url('../img/bg4.jpg');
	display: grid;
	grid-template-rows: repeat(3,1fr);
	justify-items:center;
	align-items: center;
}
.parallax-4-text{
	color:  #ffffff;
	font-size: 1.125em;
	grid-row-start:2;
	grid-row-end:2;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	justify-items:center;
	align-items: center;
	line-height: 3em;
}
.text-transform{
	text-transform:uppercase;
}

a{
	text-decoration: none;
	color:  #f1ad1d;
}
.opensans{
	font-family: 'Open Sans', sans-serif;
}

.white{
	border:none;
	background-color:  #ffffff;
	width: 280px;
	height: 3px;
}


			/*Section-5*/

.container_5{
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	justify-items:center;
	align-items: center;
}

.container_5-text-1{
	text-transform:uppercase;
	color:  #333333;
	font-size: 1.375em;
	font-weight: 700;
	line-height: 2;
}

.container_5-text-2{
	font-family: 'Lato', sans-serif;
	color:  #4d4943;
	font-size: 1.063em;
	line-height: 2;
}

.section_5{
	height:250px;
}


header{
	width: 100%;
	height: 90px;
	position: absolute;
	top:0;
	background-color:rgba(0, 0, 0, 0.3); 
	display: grid;
	grid-template-columns: repeat(8,1fr);
	align-items:center;
	justify-items: center;
}

#toggleButton{
	width: 100px;
	height: 50px;
	background:grey;
	border:0px;
	cursor: pointer;
	margin-left: 50%;
}